<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.TravelSchedule.dao.ApiDao">
  
  <select id="selectCtcode" resultType="string">
  select nvl(max(ctcode),'CT00000') from country where ctname like #{ctname}||'%'
  </select>
  <select id="maxcode" resultType="string">
  select 
  <if test="seloption == 'tdest'">nvl(max(tdcode),'TD00000')</if>
  <if test="seloption == 'festival'">nvl(max(fecode),'FE00000')</if>
  from 
  <if test="seloption == 'tdest'"> tdest</if>
  <if test="seloption == 'festival'"> festival</if>
  </select>
  
  <insert id="insertTdest">
  insert into tdest(tdcode, ctcode, tdname, tdaddress, tdphoto, tdinfo, tdlati, tdlongti, homepage, tdtel) values(#{tdcode}, #{ctcode}, #{tdname},#{tdaddress},#{tdphoto},#{tdinfo},#{tdlati},#{tdlongti},#{homepage}, #{tdtel})
  </insert>
  <select id="selectTdcode">
  select nvl(max(tdcode), 'Y') from tdest where tdname = #{tdname}
  </select>
  <select id="selectTdest" resultType="tdest">
  <![CDATA[
  select * from (select td.*,nvl(lknum, '0') lknum from tdest td left join (select tdcode, count(*) as lknum  from likelist group by tdcode ) lk on td.tdcode=lk.tdcode order by lknum desc) where rownum <= 10
  ]]>
  </select>
  <select id="selectFestival" resultType="festival">
  <![CDATA[
  select * from (select fe.*, nvl(lknum, '0') lknum from festival fe left join (select fecode, count(*) as lknum  from likelist group by fecode) lk on fe.fecode=lk.fecode where enddate >= sysdate order by lknum desc) where rownum <= 10
  ]]>
  </select>
  <select id="selectFecode">
  select nvl(max(fecode), 'Y') from festival where fename = #{fename}
  </select>
  <insert id="insertFestival">
  insert into festival(fecode, ctcode, fename, feaddress, feposter, opendate, enddate, feinfo, felati, felongti, fetel, homepage) values(#{fecode}, #{ctcode}, #{fename}, #{feaddress}, #{feposter}, #{opendate}, #{enddate}, #{feinfo}, #{felati}, #{felongti}, #{fetel}, #{homepage})
  </insert>
  <select id="selectCountry">
  select * from country
  </select>
  <select id="selectFestival_country">
  select fecode, ctcode, fename, feaddress, feposter, TO_CHAR(opendate, 'YYYY.MM.DD') as opendate, TO_CHAR(enddate, 'YYYY.MM.DD') as enddate, feinfo, felati, felongti, fetel, homepage from festival where ctcode = #{ctcode} and enddate >= sysdate
  </select>
  <select id="selectFestival_db">
  select fecode, ctcode, fename, feaddress, feposter, TO_CHAR(opendate, 'YYYY.MM.DD') as opendate, TO_CHAR(enddate, 'YYYY.MM.DD') as enddate, feinfo, felati, felongti, fetel, homepage from festival where enddate >= sysdate order by  DBMS_RANDOM.RANDOM()
  </select>
  <select id="selectFestival_detail">
  <![CDATA[
  select fecode, ctcode, fename, feaddress, feposter, TO_CHAR(opendate, 'YYYY.MM.DD') as opendate, TO_CHAR(enddate, 'YYYY.MM.DD') as enddate, feinfo, felati, felongti, fetel, homepage, lknum from (select fe.*, nvl(lknum, '0') lknum from festival fe left join (select fecode, count(*) as lknum  from likelist group by fecode) lk on fe.fecode=lk.fecode order by lknum desc) where fecode = #{code}
  ]]>
  </select>
  <select id="selectFestival_Nearby">
  <![CDATA[
  select fecode, ctcode, fename, feaddress, feposter, TO_CHAR(opendate, 'YYYY.MM.DD') as opendate, TO_CHAR(enddate, 'YYYY.MM.DD') as enddate, feinfo, felati, felongti, fetel, homepage from festival where ctcode = #{ctcode} and fecode not in(#{fecode}) and enddate >= sysdate order by  DBMS_RANDOM.RANDOM() 
  ]]>
  </select>
  <select id="selectCountry_this">
  select ctname from country where ctcode = #{ctcode}
  </select>
  <select id="selectSearchFestival">
  SELECT * FROM festival WHERE fename LIKE '%'||#{searchVal}||'%' and enddate >= sysdate 
  </select>
  <select id="maxcode_lk">
  select nvl(max(lkcode),'LK00000') from likelist
  </select>
  <select id="selectLK" resultType="lk">
  select * from likelist where mid = #{lk.mid} and
  <if test="seloption == 'festival'">fecode = #{lk.fecode} </if>
  <if test="seloption == 'tdest'"> tdcode = #{lk.tdcode}</if>
  <if test="seloption == 'review'"> recode = #{lk.recode}</if>
  </select>
  <insert id="insertLK">
  insert into likelist (lkcode,
  <if test="seloption == 'festival'"> fecode, </if>
  <if test="seloption == 'tdest'"> tdcode, </if>
  <if test="seloption == 'review'"> recode, </if>
  mid)
  values(#{lk.lkcode},
  <if test="seloption == 'festival'"> #{lk.fecode}, </if>
  <if test="seloption == 'tdest'"> #{lk.tdcode}, </if>
  <if test="seloption == 'review'"> #{lk.recode}, </if>
  #{lk.mid}) 
  </insert>
  <delete id="deleteLK">
  delete from likelist where mid = #{lk.mid} and
  <if test="seloption == 'festival'">fecode = #{lk.fecode} </if>
  <if test="seloption == 'tdest'"> tdcode = #{lk.tdcode}</if>
  <if test="seloption == 'review'"> recode = #{lk.recode}</if>
  </delete>
  <select id="selectlikeList_td">
  select * from likelist where mid = #{mid} and not tdcode is null
  </select>
  <select id="selectTd">
  select * from tdest where tdcode = #{tdcode}
  </select>
  <select id="selectlikeList_fe">
  select * from likelist where mid = #{mid} and not fecode is null
  </select>
  <select id="selectFe">
  select * from festival where fecode = #{fecode}
  </select>
  <select id="selectlikeList_re">
  select * from likelist where mid = #{mid} and not recode is null
  </select>
  <select id="selectReview">
  select * from review where recode = #{recode}
  </select>
  <select id="selectLknum">
  select count(*) from likelist where
  <if test="seloption == 'festival'">fecode = #{code}</if>
  <if test="seloption == 'tdest'">tdcode = #{code}</if>
  <if test="seloption == 'review'">recode = #{code}</if>
  </select>
  </mapper>