<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.TravelSchedule.dao.ApiDao">
  
  <select id="selectCtcode" resultType="string">
  select nvl(max(ctcode),'CT00000') from country where ctname like #{ctname}||'%'
  </select>
  <select id="maxcode" resultType="string">
  select 
  <if test="seloption == 'tdest'">nvl(max(tdcode),'TD00000')</if>
  <if test="seloption == 'festival'">nvl(max(fecode),'FE00000')</if>
  from 
  <if test="seloption == 'tdest'"> tdest</if>
  <if test="seloption == 'festival'"> festival</if>
  </select>
  
  <insert id="insertTdest">
  insert into tdest(tdcode, ctcode, tdname, tdaddress, tdphoto, tdlati, tdlongti) values(#{tdcode}, #{ctcode}, #{tdname},#{tdaddress},#{tdphoto},#{tdlati},#{tdlongti})
  </insert>
  <select id="selectTdcode">
  select nvl(max(tdcode), 'Y') from tdest where tdname = #{tdname}
  </select>
  <select id="selectTdest" resultType="tdest">
  <![CDATA[
  select * from tdest where rownum <= 10
  ]]>
  </select>
  <select id="selectFestival" resultType="festival">
  <![CDATA[
  select * from festival where rownum <= 10
  ]]>
  </select>
  <select id="selectFecode">
  select nvl(max(fecode), 'Y') from festival where fename = #{fename}
  </select>
  <insert id="insertFestival">
  insert into festival(fecode, ctcode, fename, feaddress, feposter, opendate, enddate, felati, felongti) values(#{fecode}, #{ctcode}, #{fename}, #{feaddress}, #{feposter}, #{opendate}, #{enddate}, #{felati}, #{felongti} )
  </insert>
  <select id="selectCountry">
  select * from country
  </select>
  <select id="selectFestival_country">
  select fecode, ctcode, fename, feaddress, feposter, TO_CHAR(opendate, 'YYYY.MM.DD') as opendate, TO_CHAR(enddate, 'YYYY.MM.DD') as enddate, feinfo, feup, fedown, felati, felongti from festival where ctcode = #{ctcode}
  </select>
  <select id="selectFestival_db">
  select fecode, ctcode, fename, feaddress, feposter, TO_CHAR(opendate, 'YYYY.MM.DD') as opendate, TO_CHAR(enddate, 'YYYY.MM.DD') as enddate, feinfo, feup, fedown, felati, felongti from festival
  </select>
  <select id="selectFestival_detail">
  select fecode, ctcode, fename, feaddress, feposter, TO_CHAR(opendate, 'YYYY.MM.DD') as opendate, TO_CHAR(enddate, 'YYYY.MM.DD') as enddate, feinfo, feup, fedown, felati, felongti from festival where fecode = #{code}
  </select>
  <select id="selectFestival_Nearby">
  select fecode, ctcode, fename, feaddress, feposter, TO_CHAR(opendate, 'YYYY.MM.DD') as opendate, TO_CHAR(enddate, 'YYYY.MM.DD') as enddate, feinfo, feup, fedown, felati, felongti from festival where ctcode = #{ctcode} and fecode not in(#{fecode})
  </select>
  </mapper>